{% extends 'mainapp/base.html' %}
{% load static %}

{% block taskList %}
    <a href="{% url 'add_task' %}" class="col-2 btn-lg badge rounded-pill login-link">
                    Add Write

    </a>

    <div class="row">
        <div class="col-md-10">
            {% for task in task_list %}
            <div class="row">
                <div class="col border-left border-bottom border-primary cat_blue">
                    
                    
                    {% if task.achievement == True %}
                        <a href="complite_task/{{ task.id }}" class="link-primary done-link mx-3" id="{{ task.id }}">Back</a>
                        <span class="form-check-label text-decoration-line-through">
                            {{ task.title }}
                        </span>
                    {% else %}
                        <a href="complite_task/{{ task.id }}" class="link-primary done-link mx-3" id="{{ task.id }}">Done</a>
                        <span class="form-check-label">
                            {{ task.title }}
                        </span>
                    {% endif %}
                    
                </div>
                <div class="col-1 cat_wrap">
                    <span class="cat_name">
                        {{ task.category }}
                    </span>
                </div>
                <div class="col-1 border-right border-bottom border-primary cat_blue_right">
                    <button type="button" class="close" aria-label="Close">
                        <a href="delete_task/{{ task.id }}"><span aria-hidden="true">&times;</span></a>
                    </button>
                </div>
            </div>
            {% endfor %}       
        </div>
        <div class="col-md-2">
            <nav class="nav nav-fill nav-cat">
            {% for cat in category_list %}
                <div class="mx-3 nav-item-wrap nav-link border-bottom border-primary">
                    <a class="nav-cat-item" href="{% url 'filter_category' cat.category_name %}" name="catname">{{ cat.category_name }}</a> 
                    <button type="button" class="close" aria-label="Close">
                        <a href="delete_category/{{ cat.id }}" class=""><span aria-hidden="true">&times;</span></a>
                    </button>
                </div>
            {% endfor %}
                <a class="mx-3 nav-link nav-cat-item border-bottom border-primary" href="{% url 'index' %}" name="catname">All</a>
                <a href="{% url 'add_category' %}" class="cat-add-link"><span class="nav-link col-2 btn-lg badge rounded-pill login-link">Add Category</span></a>
            </nav>
        </div>  
    </div>
    
{% endblock %}